#!/bin/bash

export SPARK_HOME={{ spark.install_path }}/spark-{{ spark.version }}-bin-hadoop{{ hadoop.version}}
export SPARK_WORKER_CORES=4
export SPARK_LOG_DIR={{ spark.log_dir }}
export PATH=$PATH:$SPARK_HOME/bin
